@tailwind base;
@tailwind components;
@tailwind utilities;
label:hover .bg-gray-400 {
  border-color: #222222;
}

input:checked + .relative .checked {
  opacity: 1;
}
input:checked + .relative .check-hover {
  border-color: #2994d5;
}
